// Add "Poppins" font from fonts.google.com
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500&family=Poppins:wght@300;400;500;600;700&display=swap");

// Custom Variables
$primary-color: #3f87f5;

// Fonts & Typography
$primary-font: "Poppins", sans-serif;

// Base
body {
  font-family: $primary-font;
}

// Necessary Custom Design

// Navigation Area
.navbar-light .custom-brand {
  color: #3e3e3e;
  font-size: 1rem;
}

.custome__navbar--toggle {
  border: 0;
}

.custome__navbar--toggle:focus {
  box-shadow: none;
}

// Just for higher precedency level
.navbar-light .navbar-nav .custom__nav--link {
  font-size: 1rem;
  font-weight: 500;
  color: #3e3e3e;
}

// Carousel Area
.custom__carousel--image {
  min-height: 560px;
  height: calc(100vh - 56px);
  object-fit: cover;
}

.custom__carousel-caption {
  left: 5%;
  right: 5%;
  bottom: 8%;
}

.carousel-caption__title {
  font-size: 1.5rem;
  line-height: 1.6;
}

.carousel-caption__text {
  font-weight: 300;
}

.carousel-caption__btn {
  padding: 0.625rem 2.71875rem;
  color: $primary-color;
}

.custom-prevNext {
  top: -3rem;
}

// Precious Section
.precious__title {
  font-size: 1.25rem;
  color: #0a0826;
}

.precious__text {
  font-size: 0.875rem;
  font-weight: 600;
  color: #6c6c6c;
}

.precious__btn {
  padding: 0.625rem 1.5rem;
  background-color: $primary-color;
}

.precious__btn-icon {
  width: 24px;
  margin-left: 0.5rem;
}

.client__card-text {
  color: #6c6c6c;
}

.client__card-title,
.client__card-subtitle {
  font-size: 0.875rem;
  font-weight: 600;
}

.client__card-title {
  color: #0c1920;
}

.client__card-subtitle {
  color: #747474;
}

// Client Section
.client__title {
  font-size: 1.25rem;
  font-weight: 600;
  color: #222221;
}

.custome__accordion-button {
  border-top: 2px solid #d5e5fb;
  color: #383838;
  font-weight: 500;
}

.custome__accordion-button:focus {
  box-shadow: none;
  border-top: 2px solid #d5e5fb;
}

.custom__accordion-item {
  border: 2px solid #d5e5fb;
  border-radius: 0.25rem;
}

//Footer Area
.l-footer {
  font-family: "Manrope", sans-serif;
}

.footer__social-title {
  font-size: 1.125rem;
  font-weight: 500;
}

// Media Query
@media screen and (min-width: 767.98px) {
  .custom__carousel--image {
    height: calc(100vh - 75px);
  }

  .navbar-light .custom-brand {
    font-size: 1.375rem;
  }

  .carousel-caption__title {
    font-size: 3rem;
    line-height: 1.5;
  }

  .carousel-caption__text {
    font-weight: 300;
    font-size: 1.25rem;
  }

  .custom-prevNext {
    top: 0;
  }

  .precious__title,
  .client__title {
    font-size: 1.5rem;
  }

  .precious__text {
    font-size: 1rem;
  }
}

@media screen and (min-width: 991.98px) {
  .custom__carousel-caption {
    left: 12%;
    right: 12%;
  }

  .precious__title,
  .client__title {
    font-size: 2.375rem;
  }
}

@media screen and (min-width: 1199.98px) {
  .custom__carousel-caption {
    left: 15%;
    right: 15%;
  }
}
